
.footer
{
    margin-top:18vh;
    width: 100vi; 
    height: 4vh;
    background-color: rgba(175, 175, 175, 0.407);
      color: black;
     
}

 


.portfolio{
    text-align: center;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    display: center;
   
}

.portfolio:hover{
    color: #e69900;
    background-color: #000000;
    text-align: center;
    margin-top:230px;
    width:100%;
    height:50px;

}
