

#fondcabraca{ 
  width: 100vi; 
  height: 100vh;
    /* background-image: linear-gradient(to right top, #0f58c7, #008ed4, #00b5c0, #9fd4bc, #ecf1e2);
     */
     background-image: linear-gradient(to right top, #383838, #313739, #4e5b5a, #738178, #a1a795);
     color: aliceblue;
}
#titulo{
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    justify-content: center;
    font-family: "Nabla", system-ui;
    font-optical-sizing: auto;
  font-weight: 200px;
  font-style: normal;
  font-variation-settings:
    "EDPT" 33,
    "EHLT" 6;
}

#comment{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
}

#fondcabraca > .iconos{
margin-top: 30px;
margin-left: 10px;
height: 10px;
}
#tecnologias{
    font-size: 30px;
}
#wordpress{
background-color: aliceblue;
}








.footer
{
    margin-top:18%;
    width: 100vi; 
      height: 5vh;
    background-color: rgb(0, 0, 0);
      color: rgb(255, 255, 255);
     
}
.portfolio{
    text-align: center;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    display: center;
   
}









div.scroll-container {
    background-color: #d0ecc6;
    overflow: auto;
    white-space: nowrap;
    margin: 10px;
    width: 98vi; 
      height: 40vh;
  }
  
  div.scroll-container img {
    padding: 10px;
  }

