
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }


.seccion1{
    background-image: url("/Cabraca portfolio/img/naturaleza.jpg");
    background-attachment: fixed;
    background-size: cover;
   width: auto;
    height: 830px;
}

.foto{
    padding: 0;
    margin-left: 550px;
    width: 180px;
    margin-top: 100px;
    border-bottom-left-radius: 200px;
    border-top-right-radius: 200px;
    border-bottom-right-radius: 200px;
    border-top-left-radius: 200px;
    margin-bottom: 50px;
}






.nameinitial{
    color: #e5a00d;
    position: relative;
    padding-left: 600px;
    padding-top: 10%;
   
}

.boton{
    position: relative;
    margin-left: 49%;
     height: 55px;
    border-color: #e5a00d;
    font-family: Arial, Helvetica, sans-serif;
}
.boton:hover{
color: #52c352;

}
#botonn{
    color: rgb(255, 187, 0);
    text-decoration: none; 
    
    
}



                            /**  PARTE 2 **/
    

#focus{
    background-image: url("/Cabraca portfolio/img/noche.jpg");
    background-size: cover;
    background-attachment: fixed;
    width: auto;
    height: 820px;
    color: #e5a00d;
    font-size: 30px;
}
    
.quien{
    color: #e5a00d;
    position: relative;
    padding-left: 565px;
    padding-top: 110px;
}


nav{
   
    text-align: center;
  }

  nav ul{
     list-style: none;
     display: inline-block;
     padding:18px;
  }
  nav ul li{
    float: left;
    margin-top: 20px;
}

nav ul li a {
    color: #e5a00d;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
    padding: 18px;
}

nav ul li a:hover{
  background-color: #60666e;
}





/**  parte de proyectos **/
.fondo{
    background-image: url("/Cabraca portfolio/img/neblina.jpg");
    background-size: cover;
    background-attachment: fixed;
    width: auto;
    height: 920px;
}
.caja{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
     gap: 55px;
     width: 1450px;
     height: 800px;
     padding-top: 20px;
}



.caja3 >a > img{
    width:300px;
    height: 300px;
}
.caja6 >a > img{
    /* background-size: cover;
    background-attachment: fixed; */
    width:300px;
    height: 300px;
}
.caja7 > a > img{
    width:300px;
    height: 300px;
}

.caja9 > a > img{
     width: 300px;
    height: 300px;
}
.caja11> a > img{
    width: 300px;
    height: 300px;
}


.caja2 > h2{
    font-size: 30px;
}
.caja4 > h3{
    font-size: 30px;
}
.caja5 > h4{
    font-size: 30px;
}

.caja8 > h4{
    font-size: 30px;
}
.caja10 > h4{
    font-size: 30px;
}

.caja2 >h2:hover{
    background-color: #000000;
    width: 100%;
    color: aliceblue;
}
.caja5 >h4:hover{
    background-color: #000000;
    width: 100%;
    color: aliceblue;
}
.caja4 >h3:hover{
    background-color: #000000;
    width: 100%;
    color: aliceblue;
}
.caja8 >h4:hover{
    background-color: #000000;
    width: 100%;
    color: aliceblue;
}
.caja10 >h4:hover{
    background-color: #000000;
    width: 100%;
    color: aliceblue;
}


#parrafo{
    margin: 150px;
    font-size: 35px;  
 }


 .word { 
    /*background-color: #55f291;*/
    font-family: Arial;
    font-size: 38px;
    color: #e5a00d;;
    line-height: 1.4em;
    height: 1.4em;
    padding: 0 14px 0 7px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    margin-top: 80px;
    
  }
  
  .word:before {
    content: '';
    background-color: black;
    width: 1px;
    position: absolute;
    top: 5px;
    bottom: 5px;
    right: 7px;
  }


/* TITULO en transicion*/
  marquee{
    color: #e5a00d;
    font-size: 30px;
  }
  marquee:hover{
    background-color: #60666e;
  }



  /*Contacto*/
.contact{
    margin-left: 600px;
    font-size: 30px;
}
@media(max-width:768px){
    .contact{
        margin-left: 40px;
    }
}


.form{
    width: 340px;
    height: 440px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 40px  -10px #000;
    margin: calc(44vh - 220px) auto;
    padding: 20px 30px;
    max-width: calc(100vw -40px);
    box-sizing: border-box;
    font-family: "montserrat", sans-serif;
    position: relative;
}
.raya{
margin: 10px 0;
padding-bottom: 10px;
width: 180px;
color: grey;
border-bottom: 3px  solid black ;
}

input{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    font-family: "montserrat", sans-serif;
    border-bottom: 2px solid grey;
}

input:focus{
    border-bottom: 2px solid lightblue;
}

p:before{
    content:attr(type);
    display: block;
    margin: 28px 0 0;
    font-size: 14px;
    color: gray;
}

button{
    float:right ;
    padding: 8px 12px;
    margin: 5px 0 0;
    font-family: "montserrat", sans-serif;
    border: 2px solid gray;
    background: 0;
    color: black;
    cursor: pointer;
    transition: all .3s;
    margin-top: 25px;
}
button:hover{
background: gray;
color: white;
}
.formulario{
    position: absolute;
    bottom: -15px;
    right: -20px;
    background:linear-gradient(to left, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    color: rgb(4, 4, 4);
    width: 320px;
    padding: 10px 4px 10px 0;
    border-radius: 6px;
    font-size: 13px;
    box-shadow: 10px 10px 40px -14px #000;
}
.fa-phone{
   color: #000;
}



.seccion2{
background-image: url("/Cabraca portfolio/img/nochees.jpg");
    background-attachment: fixed;
    background-size: cover;
   width: auto;
    height: 800px; 
}

a >.fab{
    padding-top: 20px;
    padding-left: 2px;
    color: #177cff;
}

a >.fa-whatsapp{
    color: rgb(20, 182, 20);
}

.cv1{
   margin-right: 650px;
    color: #e5a00d;
    border-color: #e5a00d;
    font-size: 25px;
    /*background-color: #000;*/
}