@media (max-width:700px){
   body{
      width: 500px;
   }
}

/*responsive en la zona del index */
@media screen and (max-width: 600px ) {
   .seccion1{
     width: 600px; 
     height: 1000px;
     background-size:cover;
     background-repeat: no-repeat;
     position: fixed;
   }
   #nameinitial{
    font-size: 18px;
    margin-left: 1%;
    gap: 10px;
   }
   #botonnn{
      margin-left: 25%;
      margin-top: 30px;
   }
   .contenedor-redes{
     
      width: 10PX;
      height: 10PX;
      margin: 20px 20px;
      margin-right: 100px;
      margin-left: 130px;
   }
   .fab {
    width: 10px;
    height: 10px;
   }
 }
 


/*responsive en la zona de Inicio */
@media screen and (max-width: 600px) {
   #focus{
     width: 600px; 
     height: 1344px;
     background-size:cover;
     background-repeat: no-repeat;
   }
   .quien{
      margin-left: 20%;
   }
 }


 @media screen and (max-width: 600px) {
  .skills{
    margin-top: 340px;
    background-color: rgba(255, 255, 255, 0.087);
    width: auto;
    height: 540px;
  }
  .skills > h1{
    padding: 5px;
  }
  #table_skills{
    display: grid;
    grid-template-columns: auto auto;   
    gap: 40px;
  }
  .table_skills > div{
    gap: 20px;
  }
}




 /*responsive en la navegación*/
 @media screen and (max-width: 600px) {
  .nav{
    text-align: center;
    max-width: 600px;
    font-size: 10px;
    text-align: center;
    height: 160px;
    background-color:#d9d9d965 ;   
  }
}
 /*responsive en los proyectos*/
 @media screen and (max-width: 600px) {
   .caja{
    width: 500px;
    height: 800px;
    font-size:15px ;
   }
   .caja2{
    display: grid;
    grid-template-columns: auto;
   }

  

  
  /* .caja{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content:center;
       gap: 30px;
       width: 700px;
       height: 1400px;
       padding-top: 20px;
   } */
   .fondo{
    width: 500px;
    height: 3170px;
   }
 }



 @media screen and (max-width: 600px){
#footer
{
    margin-top:2040px;
    width:600px;
    height:50px;
    background-color: rgba(175, 175, 175, 0.407);
    color: black; 
}
.portfolio{
    text-align: center;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    display: center;
}
.portfolio:hover{
    color: #e69900;
    background-color: #000000;
    text-align: center;
    width:100%;
    height:50px;
}
}


/*  Dentro de los proyectos (MAS INFORMACIÓN)*/

@media screen and (max-width: 510px){
  #iconos{
  margin-top: 30px;
  margin-left: 20px;
  }
 
}


/* Contacto responsive */
@media screen and (max-width: 600px ) {

  .logos i{
      width: 50PX;
      height: 0PX;
      display: inline-block;
  }


}