@media (max-width:600px){
   body{
    width: 100vi; 
    height: 100vh;
   }
   html{
    margin: 0;
    padding: 0;
   }
   html{
    height: auto;
   }
}



@media screen and (max-width: 600px ) {
  .seccion1{
    width: 100vi; 
    height: 100vh;
    background-size:cover;
    background-repeat: no-repeat;
    position: fixed;
  }
  #focus{
    width: 100vi; 
    height: 230vh;
    background-size:cover;
    background-repeat: no-repeat;
    position: relative;

  }

}




/*responsive en la zona del index */
@media screen and (max-width: 600px ) {
   
   #nameinitial{
    font-size: 13px;
    margin-left:50% 50%;
    gap: 10px;
   }
   #boton-inicio{
      margin-left:50% 50%;
      margin-top: 30px;
   }
   .contenedor-redes{
      width: 2vi;
      height: 2vh;
      margin-right: 100px;
      margin-left: 150px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .contenedor-redes a {
      font-size: 25px;
      width: 5px;
      height: 5px;
      padding: 25px;
    }
 }
 


/*responsive en la zona de Inicio */
@media screen and (max-width: 600px) {
  
   }
   .quien{
      text-align: center;
   }
 


 @media screen and (max-width: 600px) {
  .skills{
    background-color: rgba(255, 255, 255, 0.087);
    width: 100vi; 
    height: 92vh;
    margin-top:350px ;
  }
  .skills > h1{
    padding: 5px;
    width: 50vi; 
     height: 50vh;
     
  }
  #table_skills{
    display: grid;
    grid-template-columns: auto auto;   
    gap: 40px;
  }
  .table_skills > div{
    gap: 20px;
  }
}




 /*responsive en la navegación*/
 @media screen and (max-width: 600px) {
  .nav{
    text-align: center;
    max-width: 600px;
    font-size: 10px;
    text-align: center;
    height: 160px;
    background-color:#d9d9d965 ;   
  }
}
 /*responsive en los proyectos*/
 @media screen and (max-width: 600px) {
  body{
    width: 100vi; 
    height: 100vh;
  } 
  .caja{
    width: 100vi; 
    height: 100vh;
    font-size:15px ;
   }
   .caja2{
    display: grid;
    grid-template-columns: auto;
   }
   .fondo{
    width: 100vi; 
    height: 238vh;
   }
   
 }



 @media screen and (max-width: 600px){
#footer
{
    margin-top:1600px;
    width: 100vi; 
    height: 4vh;
    background-color: rgba(175, 175, 175, 0.407);
    color: black; 
}
.portfolio{
    text-align: center;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    display: center;
}
.portfolio:hover{
    color: #e69900;
    background-color: #000000;
    text-align: center;
    width:100%;
    height:50px;
}
}


/*  Dentro de los proyectos (MAS INFORMACIÓN)*/

@media screen and (max-width: 510px){
  #iconos{
  margin-top: 30px;
  margin-left: 20px;
  }
 
}


/* Contacto responsive */
@media screen and (max-width: 600px ) {

  .logos i{
      width: 50PX;
      height: 0PX;
      display: inline-block;
  }


}